@import '../main';

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.body-container {
  max-width: 47rem;
  text-align: justify;
}

.header-container {
  width: 47rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $medium) {
    justify-content: center;
  }
}

.header-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media screen and (max-width: $medium) {
    align-items: center;
    text-align: center;
  }
}

.main-photo-container {
  padding: 1rem;
  min-height: 250px;
  min-width: 250px;
}

.main-photo {
  border-radius: 50%;
  max-width: 100%;
}

.fancy {
  color: $primary;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

.youtube-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.youtube {
  height: 30%;
  padding: 0.75em;
}

/* overrides */

.social-icons {
  justify-content: flex-start;
  padding-top: 2rem;
}
